<!DOCTYPE html>
<html>
<head>
    <title>Обработчик отчётов vCloud Director - Burger King</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1></h1>
        <p class="description">
            Добро пожаловать в обработчик отчётов vCloud Director для Burger King. Этот инструмент был разработан 
            для анализа и обработки отчётов об использовании ресурсов виртуальных машин в vCloud Director. 
            Просто загрузите ваш CSV-файл с данными, и мы автоматически обработаем информацию, создадим 
            сводную таблицу по проектам и вернём вам детализированный отчёт в формате Excel. 
            Это упрощает отслеживание использования ресурсов и помогает оптимизировать вашу инфраструктуру.
        </p>
        <form method="POST" action="/" enctype="multipart/form-data">
            <label class="file-input-label" for="file">
                Выберите файл для загрузки
                <input type="file" id="file" name="file" accept=".csv">
            </label>
            <br><br>
            <button class="submit-button" type="submit">
                Загрузить и обработать
            </button>
        </form>
    </div>
    <div class="footer">
        Created by Gizex
    </div>
</body>
</html>
